# Projeto final

Bem vindo ao projeto final do curso/módulo de Pandas.
Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

In [1]:
import pandas as pd
import numpy as np

## Perguntas - Obesity among adults by country, 1975-2016

In [5]:
df_obesity = pd.read_excel("obesity_cleaned.xlsx", index_col=0)

In [8]:
df_obesity.head()

       Country  Year    Obesity (%)         Sex
0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4  Afghanistan  1976  0.2 [0.0-0.7]        Male

- Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [24]:
df_obesity["Obesity"] = df_obesity["Obesity (%)"].str.split(' ').str[0]

In [26]:
df_obesity["Obesity"] = df_obesity["Obesity"].apply(pd.to_numeric, errors="coerce")

In [27]:
df_obesity.dtypes

Country         object
Year             int64
Obesity (%)     object
Sex             object
Obesity        float64
dtype: object

- Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [30]:
df_obesity[df_obesity["Year"] == 2015].groupby("Sex").mean("Obesity")

              Year    Obesity
Sex
Both sexes  2015.0  19.508377
Female      2015.0  22.899476
Male        2015.0  15.980628

- Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

- Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

- Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

- Você conseguiria plotar um gráfico mostrando a evolução da obesidade para ambos sexos no mundo?

In [ ]:
df_both.plot()

## Perguntas - GDP Per Person (1901-2011)

In [ ]:
df_gdp = pd.read_csv("Datasets/GDP.csv", decimal=".")

- Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.

- Você conseguiria informar o primeiro valor registrado de cada país?

- Informe as regiões com maiores crescimentos de PIB per capita no século passado.

- Preecha os anos ausentes em cada país com uma estimativa, baseada na diferença entre o próximo registro e o anterior.

### DESAFIOS
- Você conseguiria criar um mapa do gdp ou da obesidade no mundo ao longo dos anos?

- Há uma relação entre níveis de obesidade e gdp per capita?